*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    color: #fff;
}

.parent__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 650px;
}

footer, .headerAccount{
    background: #001529 !important;
    color: #fff !important;
}
header{
    background:#1677ff !important;
    color: #fff !important;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    height: 450px !important;
    overflow: auto;
    color: #000 ;
} 

.colorfff{
    color: #fff !important;
}

.bgColorBlue{
    background: #1677ff;
    cursor: pointer;
    transition: 0.3s linear;
}

.bgColorBlue:hover{
    background: #16a9f0;
}

.headerComponent{
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerIconInfo{
    font-size: 20px;
    opacity: 0.7;
    transition: .2s;
}

.headerIconInfo:hover{
    cursor: pointer;
    opacity: 1;
}

.messages{
    
    background: #1677ff;
    color: #fff;
    max-width: 250px;
    margin: 7px;
    margin-right: 10px;
}