*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    color: #fff;
}

.parent__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 650px;
}

footer, .headerAccount{
    background: #001529 !important;
    color: #fff !important;
}
header{
    background:    #1677ff !important;
    color: #fff !important;
}

main{
    height: 450px !important;
    overflow: auto;
    color: #000 ;
} 

.colorfff{
    color: #fff !important;
}

.bgColorBlue{
    background: #1677ff;
    cursor: pointer;
    transition: 0.3s linear;
}

.bgColorBlue:hover{
    background: #16a9f0;
}

